<div class="card-columns">
{{#each recipes as |recipe|}}
<div class="card-deck">
<div class="card" style="width: 18rem">
<div class="col-m-6">
  <section data-id="{{recipe.id}}" class="grid-item {{recipe.meal}} {{recipe.ingredients}}">
    <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{recipe.name}}</li>

      <li class="list-group-item">{{recipe.meal}}</li>

      <li class="list-group-item">Prep time:{{recipe.cooking_timel}}</li>

      <li class="list-group-item">Ingredients:{{recipe.ingredients}}</li>
    </ul>
    </div>
    <button id="update-recipe" type="button" class="btn btn-default" data-toggle="modal" data-target="#updateRecipeModal">
      update recipes
    </button>


      <div class="modal fade" id="updateRecipeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"> edit Recipe </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body update-recipe">
              <form id="update-recipe update-recipe">
                <input class="form-control" type="text" name="recipe[name]" placeholder="recipe name">
                <input class="form-control" type="text" name="recipe[meal]" placeholder="meal">
                <input class="form-control" type="text" name="recipe[cooking_time]" placeholder="cooking_time">
                <input class="form-control" type="text" name="recipe[ingredients]" placeholder="ingredients">
                <button type="submit" data-id="{{recipe.id}}" class="btn btn-default update-recipe"> update </button>
            </form>
            </div>
            <div class="modal-footer"> <p id="updateRecipeFeedback"> </p></div>
          </div>
        </div>
      </div>

    <button id="enlarge-recipe" type="click" class="btn-default enlarge-recipe"><span>Enlarge</span></button>
    <button id="close-recipe" type="click" class="btn-default close-recipe">Close</button>
    <button id="delete-recipe" type="click" class="btn btn-default delete-recipe">Remove</button>
    <!-- <button class="btn btn-danger delete-recipe" data-id="{{recipe.id}}"> Delete Recipe </button>-->
  </section>
</div>
</div>
</div>
</div>

{{/each}}
