{{#each recipes as |recipe|}}
  {{log recipe}}
  <section data-id="{{recipe.id}}" class="grid-item {{recipe.meal}}">
    <h6><p class="name">Name:</p></h6>
    <h3>
      {{recipe.name}}
    </h2>

    <h6><p class="meal">Meal:</p></h6>

      {{recipe.meal}}



    <h6><p class="cooking-time">Cooking Time:</p></h6>

      {{recipe.cooking_time}}


    <h6> <p class="ingredients"> Ingredients: </p> </h6>

      {{recipe.ingredients}}




      </div>

      <form class="update-recipe">
        <input type="text" name="recipe[name]" placeholder="recipe name"/>
        <input type="text" name="recipe[meal]" placeholder="meal"/>
        <input type="text" name="recipe[cooking_time]" placeholder="cooking_time"/>
        <input type="text" name="recipe[ingredients]" placeholder="ingredients"/>
        <button type="submit" data-id="{{recipe.id}}" class="btn btn-info update-recipe">update</button>
      </form>


    <button id="delete-recipe" type="click" class="btn btn-danger delete-recipe">Remove</button>
    <!-- <button class="btn btn-danger delete-recipe" data-id="{{recipe.id}}"> Delete Recipe </button>-->

  </section>

{{/each}}
