{{#each recipes as |recipe|}}
  <section data-id="{{recipe.id}}" class="grid-item {{recipe.meal}}">

    <h5><p class="name"></p></h5>
    <h3>
      {{recipe.name}}
    </h3>


    <h6><p class="meal"> {{recipe.meal}} </p></h6>



    <h6><p class="cooking-time">Cooking Time: {{recipe.cooking_time}}</p></h6>



    <h6> <p class="ingredients"> </p> </h6><h3>Ingredients:</h3>

      {{recipe.ingredients}}



      </div>

      <form class="update-recipe">
        <input type="text" name="recipe[name]" placeholder="recipe name"/>
        <input type="text" name="recipe[meal]" placeholder="meal"/>
        <input type="text" name="recipe[cooking_time]" placeholder="cooking_time"/>
        <input type="text" name="recipe[ingredients]" placeholder="ingredients"/>
        <button type="submit" data-id="{{recipe.id}}" class="btn btn-info update-recipe">update</button>
      </form>

    <button id="enlarge-recipe" type="click" class="enlarge-recipe"><span>Enlarge</span></button>
    <!--<button id="close-recipe" type="click" class="close-recipe">Close</button>-->

    <button id="delete-recipe" type="click" class="btn btn-danger delete-recipe">Remove</button>
    <!-- <button class="btn btn-danger delete-recipe" data-id="{{recipe.id}}"> Delete Recipe </button>-->

  </section>

{{/each}}
