{{#each recipes as |recipe|}}
  {{log recipe}}
  <section data-id="{{recipe.id}}" data-category="vegetarian" class="element-item vegetarian">
    <h6><p class="name">Name:</p></h6>
    <h3>
      {{recipe.name}}
    </h2>

    <h6>Meal:</h6>
    <h3>
      {{recipe.meal}}
    </h2>

    <h6><p class="cooking-time">Cooking Time:</p></h6>
    <h3>
      {{recipe.cooking_time}}
    </h2>

    <h6> <p class="ingredients"> Ingredients: </p> </h6>
    <h3>
      {{recipe.ingredients}}
    </h2>



      </div>


    <!--<button class="btn btn-warning update-recipe" data-id="{{recipe.id}}"> Update Recipe</button>-->
    <button id="delete-recipe" type="click" class="btn btn-danger delete-recipe">Remove</button>
    <!-- <button class="btn btn-danger delete-recipe" data-id="{{recipe.id}}"> Delete Recipe </button>-->

  </section>

{{/each}}
