{{#each recipes as |recipe|}}
  {{log recipe}}
  <section data-id="{{recipe.id}}">
    <h6>Name:</h6>
    <h3>
      {{recipe.name}}
    </h2>

    <h6>Meal:</h6>
    <h3>
      {{recipe.meal}}
    </h2>

    <h6>Cooking Time:</h6>
    <h3>
      {{recipe.cooking_time}}
    </h2>

    <h6>Ingredients:</h6>
    <h3>
      {{recipe.ingredients}}
    </h2>
    <!--<button class="btn btn-warning update-recipe" data-id="{{recipe.id}}"> Update Recipe</button>-->
    <button id="delete-recipe" type="click" class="btn btn-danger delete-recipe">Remove</button>
    <!-- <button class="btn btn-danger delete-recipe" data-id="{{recipe.id}}"> Delete Recipe </button>-->

  </section>

{{/each}}
